<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Forecast</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <%= image_tag "logo.svg", :class => "d-inline-block align-top", :width => "32", :height => "32" %>
          forecast
        </a>
        <div class="d-flex justify-content-end">
          <% if user_signed_in? %>
            <%= link_to "Log out", destroy_user_session_path, :class => "btn btn-dark", :method=>'delete'%>
          <% else %>
            <%= link_to "Sign in", new_user_session_path, :class => "btn btn-outline-primary" %>
          <% end %>
        </div>
      </div>
    </nav>
    <div id="alerts">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <div class="card rounded">
      <div class="card-body">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
